
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}
.title{
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}
.descr{
    font-size: 20px;
    color: #fff;
}




.header{
    padding-top: 75px;
    background: url(../img/bg-header.jpg) no-repeat center center;
    background-size: cover;
    height: 825px;
    position: relative;
}
.header .header-logo{
    display: flex;
    align-items: center;
}
.header .logo{
    margin-right: 6px;
    width: 67px;
}
.header .logo-text{
    line-height: 24px;
    color: #fff;
}
.header .logo-text:hover{
    text-decoration: none;
}
.header .logo-text span{
    display: block;
}
.header .logo-text span:nth-child(1){
    font-size: 29px;
    font-weight: bold;
}
.header .logo-text span:nth-child(2){
    font-size: 17px;
}
.header .header-menu{
    margin-top: 6px;
    position: relative;
    z-index: 1;
}
.menu-btn{
    display: none;
}
.header-menu-mobile{
    display: none;
}
.header .header-menu ul{
    margin-bottom: 0;
}
.header .header-menu .header-menu__item{
    list-style: none;
    margin: 0 16px;
}
.header .header-menu .header-menu__item:first-child{
    margin-right: 2px;
}
.header .header-menu .header-menu__item:last-child{
    margin-left: 2px;
}
.header .header-menu .header-menu__item a{
    font-size: 25px;
    color: #fff;
}
.header .header-menu .header-menu__item a i{
    font-size: 30px;
}
.header .header-menu .header-menu__item a i.home{
    background: url(../img/home.png) no-repeat center center;
    display: block;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.header .number{
    font-size: 25px;
    color: #fff;
}
.header .header-title-bg{
    background: url(../img/arrow.PNG) no-repeat center center;
    background-size: contain;
    position: absolute;
    width: 986px;
    height: 759px;
    bottom: -5px;
    left: 0;
}

.header .title-wrapper{
    padding-top: 145px;
}
.header .title-block{
    max-width: 650px;
}
.header .title-block .title{
    margin-bottom: 20px;
}
.header .title-block .btn-header{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background: #ecd118;
    width: 289px;
    height: 66px;
    border-radius: 15px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}


.about{
    background: url(../img/bg-about.png) no-repeat center center;
    background-size: cover;
}

.about .btn-whatsapp-wrapper{
    display: inline-block;
    margin: 35px 0 0 0;
}
.about .about-text .title{
    padding-top: 155px;
}
.about .btn-whatsapp{
    color: #fff;
    font-size: 22px;
    /*background: url(../img/btn-whatsapp.png) no-repeat center center;*/
    background-size: cover;
    padding: 16px 18px 16px 17px;
    border-radius: 20px;
    box-shadow: 0px 0px 11px 3px #80ef8a;
}
.about .btn-whatsapp i{
    position: relative;
    top: 2px;
    font-size: 30px;
    padding-right: 5px;
}
.about-text{
    width: 750px;
}
.about-text .fa-instagram{
    color: #fff;
    font-size: 40px;
    position: relative;
    top: 7px;
    left: 15px;
}
.about-wrapper{
    position: relative;
    height: 719px;
}


.advantages{
    background: url(../img/advantages.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 475px;
    /*height: 580px;*/
    padding-top: 40px;
}
.advantages .title{
    text-align: center;
}
.about-img{
    background: url(../img/man.PNG) no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 935px;
    height: 100%;
    z-index: 1;
    bottom: -18px;
    right: 0;
}

.advantages{
    text-align: center;
}
.advantages_item {
    margin-top: 36px;
}
.advantages_item .advantages-img{
    width: 90px;
}
.advantages_item .title{
    font-size: 29px;
    margin-top: 15px;
}
.advantages .advantages-text{
    color: #fff;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
}


.product{
    background: url(../img/product-bg.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 70px;
}
.product .title{
    color: #0e2334;
    text-align: center;
    margin: 0;
}
.product .descr-product-conteiner{
    color: #3a4956;
    text-align: center;
    margin-bottom: 35px;
}
.product_item{
    width: 85%;
    margin: 0 auto;
    box-shadow: 0px 0px 29px -5px rgba(58,73,86,0.75);
    border-radius: 40px;
    transition: all 0.7s;
    background: #fff;
}
.product_item .product_img{
    border-radius: 40px 40px 0 0;
    width: 100%;
    height: 270px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.7s;
}
.product_item:hover .product_img{
    background-size: 110%;
}
.product_item:hover{
    box-shadow: 0px 0px 33px -5px rgba(58,73,86,0.75);

}
.product_item .product_img img{
    width: 100%;

}
.product_item .product_text{
    height: 165px;
    padding: 14px 15px;
    text-align: center;
    position: relative;
}
.product_text .title{
    margin: 0;
    font-size: 20px;
}
.product_item .title a{
    color: #3a4956;

    font-weight: bold;
    margin-bottom: 0;
}
.product_item .descr{
    color: #3a4956;
    font-size: 17px;
}
.product_item .product_btn{
    width: 265px;
    font-size: 17px;
    display: flex;
    margin: 0 auto;
    box-shadow: 0px 0px 11px -3px rgba(58,73,86,0.5);
    background-color: #fff;
    border-radius: 9px;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.product_item .product_btn .form-btn{
    width: 65%;
}
.product_item .product_btn button{
    background: none;
    border: none;
    text-transform: uppercase;
    padding: 6px 0;
    color: #3a4956;
}
.product_item .product_btn span{
    padding: 6px 0;
    width: 35%;
    background: #3a4956;
    color: #fff;
    border-radius: 0 9px 9px 0;
    font-weight: bold;
}
.maps .maps-wrapper{
    position: relative;
}
.maps .maps-address {
    position: absolute;
    top: 80px;
    left: 80px;
    padding: 15px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 29px -5px rgba(58,73,86,0.75);
}
.maps .maps-address .title{
    color: #0e2334;
    font-size: 26px;
}
.maps .maps-address .address i{
    font-size: 33px;
    color: #3a4956;
    margin-right: 8px;
}
.maps .maps-address .address{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 17px;
    color: #3a4956;
}
.footer{
    background: #0c1a2b;
    color: #fff;
    font-size: 14px;
    padding: 38px 0;
}
.footer i{
    font-size: 23px;
    margin: 0 4px;
    position: relative;
    top: 4px;
}
.footer a{
    color: #fff;
    font-size: 14px;
}
.footer .social a{
    display: inline-block;
}
.footer .social .mail{
    margin-right: 20px;
}
.footer .social .mail i{
    margin-left: 10px;
}
.footer .social_item{
    display: inline-block;
}

header.header-page{
    height: 111px;
    padding-top: 23px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
main{
    padding-top: 111px;
}
.catalog_page .container-fluid{
    padding-left: 15px;
    padding-right: 15px;
}
.catalog_page .product_item {
    width: 90%;
    margin: 0 0 55px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 22px -5px rgba(58,73,86,0.75);
}
.catalog_page .product_item .product_img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 245px;
}
.catalog_page .product_item .product_text {
     height: 150px;
    padding: 14px 15px;
    position: relative;
}
.catalog_page .product_text .title {
    font-size: 20px;
}
.catalog_page .product_item .product_btn {
    width: 200px;
    font-size: 15px;
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
}
.catalog_page .product_item .product_btn span {
    width: 43%;
}
.catalog_page .product_item .product_btn .form-btn {
    width: 57%;
}
.catalog_page .product_item .product_btn .form-btn a{
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    color: #3a4956;
}
.product_item .product_btn .form-btn a{
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    color: #3a4956;
}
.breadcrumbs{
    padding: 20px 0 30px;
}
.breadcrumbs_item{
    color: #3a4956;
}
.breadcrumbs_item.active{
    font-weight: bold;
}
.navigation .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.breadcrumb-wrapper{
    margin-bottom: 12px;
}
.filter-category .title{
    color: #3d4967;
    text-transform: uppercase;
    border-bottom: solid 2px #3d4967;
    display: table;
    margin: 4px 0 11px 0;
    font-size: 24px;
    padding: 0px 17px 4px 0px;
}
.filter-category ul {
    padding-left: 0;
}
.filter-category ul li {
    list-style: none;
    margin-bottom: 9px;
}
.filter-category ul li a {
    color: #323e56;
}
.detail .detail-photo {
    box-shadow: 5px 5px 13px 3px rgba(34, 60, 80, 0.2);
}
.detail .detail-photo img {
    width: 100%;
}
.detail .detail-info {
    margin-left: 10px;
}
.detail .detail-info .breadcrumbs {
    margin-left: 0;
}
.detail .detail-info .title {
    font-size: 21px;
    margin: 0;
    padding: 0 10px 5px 0;
    color: #3d4967;
    text-transform: uppercase;
    border-bottom: solid 2px #3d4967;
    display: table;
}
.detail {
    margin-top: 36px;
}
.detail .detail-photo.mobile {
    display: none;
}
.detail .detail-info .price {
    margin-top: 13px;
    font-size: 20px;
    text-transform: uppercase;
    color: #323e56;
}
.detail .detail-info .price span:last-child {
    font-weight: 700;
}
.detail .btn-detail-order {
    width: 170px;
    background: #25d366;
    color: #fff;
    border: none;
    padding: 10px 0 12px 0;
    margin-top: 15px;
}
.detail .detail-description {
    margin-top: 30px;
    margin-bottom: 30px;
}
.page-login{
    padding: 70px 0;
}
section.login{
    background: #f2f2f2;
}
.login .form-wrapper{
    background: #fff;
    padding: 40px 40px 30px 40px;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.login .logo{
    width: 100px;
    margin: 0 auto 20px auto;
}
.login .logo img{
    width: 100%;
}
.login .group{
    margin-bottom: 20px;
}
.login h4{
    color: #3a4956;
    margin-bottom: 17px;
}
.login .link-v1{
    display: block;
    padding: 7px 35px;
    background: #3a4956;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin: 0 auto 20px auto;
}
.login .register{
    color: #3a4956;
}
/*.carts-wrapper{*/
/*    padding-bottom: 50px;*/
/*    background: #f2f2f2;*/
/*}*/
/*.carts table{*/
/*    width: 100%;*/
/*}*/
/*.carts .photo-wrapper{*/
/*    width: 200px;*/
/*    display: inline-block;*/
/*    margin-right: 15px;*/
/*}*/
/*.carts .photo-wrapper img{*/
/*    width: 100%;*/
/*}*/
/*.carts table thead{*/
/*    color: #3a4956;*/
/*    font-size: 19px;*/
/*}*/
/*.carts tr{*/
/*    border-bottom: 0.0625rem #e2e3e4 solid;*/
/*}*/

.carts-wrapper{
    padding-bottom: 50px;
}
/*.carts table{*/
/*    width: 100%;*/
/*}*/

.carts .carts-body{
    color: #3a4956;
    font-size: 19px;
}
.carts tr{
    border-bottom: 0.0625rem #e2e3e4 solid;
}
.carts .cart-item div:nth-child(1){
    width: 45%;
}
.carts .cart-item div:nth-child(2){
    width: 15%;
}
.carts .cart-item div:nth-child(3){
    width: 20%;
}
.carts .cart-item div:nth-child(4){
    width: 10%;
}
.carts .cart-item div:nth-child(5){
    width: 10%;
    padding-left: 81px;
}
.carts .cart-item div .photo-wrapper{
    width: 140px;
    display: inline-block;
    margin-right: 15px;
}
.carts .photo-wrapper img{
    width: 100%;
}
.carts .cart-item{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: 0.0625rem #e2e3e4 solid;
    padding-bottom: 15px;
}
.carts .carts-head{
    color: #8A8A8F;
    font-size: 19px;
}
.carts .quantity-form input{
    width: 70px;
}
.carts .delete{
    color: #3a4956;
    background: none;
    border: none;
    font-size: 25px;
}
.carts .quantity{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    width: 107px;
    padding: 12.5px 16px;
    color: #000;
    font-size: 14px;
}
.carts .cart-item a.carts-title{
    display: inline-block;
    width: 360px;
}
.form-order {
    margin-top: 20px;
}
.form-order input{
    width: 100px;
}
.form-order .btn{
    background: #2D9CEE;
    color: #fff;
    padding: 10px 24px;
    box-shadow: 5px 5px 11px -8px rgba(0,0,0,0.75);
}
.form-order .btn:hover{
    background: #197ec6;
}
.carts-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carts-top .dropdown-item button{
    background: none;
    border: none;
}
.carts-wrapper .carts-top .dropdown-menu{
    left: -42px !important;
    box-shadow: 3px 3px 10px -3px rgba(34, 60, 80, 0.2);
}
.carts-wrapper .order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-top: 50px;
}
.carts-wrapper .order .total{
    font-size: 24px;
    color: #3a4956;
    margin-bottom: 12px;
}
.carts-wrapper .order .btn{
    color: #fff;
    background-color: #2D9CEE;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}
.carts-wrapper .order .btn:hover{
    background: #197ec6;
}
.carts-wrapper .form-order span{
    font-size: 14px;
    margin-bottom: 15px;
    display: inline-block;
}
.carts-wrapper .form-order{
    margin-top: 0;
}
.carts-wrapper .form-order label{
    font-size: 15px;
    margin-bottom: 3px;
}
.carts-wrapper .form-order input{
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
}
.carts-wrapper .form-order input::-webkit-outer-spin-button,
.carts-wrapper .form-order input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.carts-wrapper .form-order textarea {
    font-size: 14px;
    width: 100%; /* Ширина поля в процентах */
    height: 130px; /* Высота поля в пикселях */
    resize: none; /* Запрещаем изменять размер */
}
.cart-quantity{
    display: inline-block;
    position: relative;
    top: -8px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: #2D9CEE;
    border-radius: 100px;
}
.cart-quantity span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}
.header-menu__item a:hover{
    text-decoration: none;
}
.add-to-carts{
    width: 320px;
    margin-top: 20px;
}
.add-to-carts h4{
    font-size: 15px;
    margin-bottom: 0;
}
.add-to-carts button{
    font-size: 16px;
}
.add-to-carts-in-catalog{
    margin-top: 0;
}
.checkout-success-title {
    margin-top: 35px;
}
.checkout-success-title h1{
    font-size: 1.875rem;
    font-weight: normal;
    margin: 0 0 1.25rem 0;
}
.checkout-success-content-top {
    font-size: 1rem;
}
.vertical-interval-small {
    margin-top: 0.4375rem;
    margin-bottom: 0.4375rem;
}
.checkout-success-content {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.carts-wrapper{
    min-height: 500px;
}
